
<div class="container">
  <div class="row marketing">
    <form class="form-inline">
      <div class="col-md-6 col-xs-6 form-group">
        <label for="filterByCuisine">Filter by cuisine</label>
        <select ng-model="selectedItem" ng-options="cuisine.name for cuisine in cuisines">
        </select>

      </div>
      <div class="col-md-6 col-xs-6 form-group">
        <input type="submit" class="btn btn-default"name="name" value="Find" ng-click='findPlace()'>
      </div>
    </form>
  </div>
</div>

<div class="">

  <div class="row">

    <div class="" ng-repeat="restaurant in restaurants">
      <div class="col-md-6">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{restaurant.restaurant.name}}</h4>
            <h6 class="card-subtitle text-muted">{{restaurant.restaurant.cuisines}}</h6>
          </div>
          <img src="{{restaurant.restaurant.featured_image}}" alt="Card image" class="img-fluid">
          <div class="card-block">
            <ul>
              <li>{{restaurant.restaurant.average_cost_for_two}}</li>
              <li>{{restaurant.restaurant.location.address}}</li>
              <li style="color: #{{restaurant.restaurant.user_rating.rating_color}}">{{restaurant.restaurant.user_rating.aggregate_rating}} {{restaurant.restaurant.user_rating.rating_text}}</li>
            </ul>
            <a href="{{restaurant.restaurant.menu_url}}" class="card-link">Menu</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
