<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="">
  {{title}}
</div>

<div class="container">
  <div class="row marketing">
    <form class="form-inline" action="index.html" method="post">
      <div class="col-md-6 col-xs-6 form-group">
        <label for="placeName">Name</label>
        <input type="text" class='form-control' name="name" id="placeName" value="" ng-model='placeName'>
      </div>
      <div class="col-md-6 col-xs-6 form-group">
        <input type="submit" class="btn btn-default"name="name" value="Find" ng-click='findPlace()'>
      </div>
    </form>
  </div>
</div>
