
<div class="container">
  <div class="row">
    <div class="" ng-repeat="restaurant in restaurants">
      <div class="col-md-5">
        <div class="card">
          <div class="card-block">
            <h4 class="card-title">{{restaurant.restaurant.name}}</h4>
            <h6 class="card-subtitle cuisine">{{restaurant.restaurant.cuisines}}</h6>
          </div>
          <img src="{{restaurant.restaurant.featured_image}}" alt="Card image" class="img-fluid">
        </div>
      </div>
      <div class="col-md-7">
          <div class="card"><div class="card-block" style="width: 18rem;">
            <ul>
              <li><b>Cost:</b> ${{restaurant.restaurant.average_cost_for_two}} for two people(approx.)</li>
              <li><b>Address:</b> <br>{{restaurant.restaurant.location.address}}</li>
              <li style="color: #{{restaurant.restaurant.user_rating.rating_color}}">{{restaurant.restaurant.user_rating.aggregate_rating}} {{restaurant.restaurant.user_rating.rating_text}}</li>
              <li>  <a href="{{restaurant.restaurant.menu_url}}" class="card-link">Menu</a></li>
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                Write review
              </button>
            </ul>
          </div></div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="reviewForm" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="reviewForm">Review Form</h4>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="revierName">Name</label>
              <input type="text" class="form-control" id="revierName" placeholder="Julia">
            </div>
            <div class="form-group">
              <label for="exampleSelect1">Example select</label>
              <select class="form-control" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
            </div>
            <div class="form-group">
              <label for="review">Review</label>
              <textarea class="form-control" id="review" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="" ng-repeat="review in reviews">
      <div class="card">
        <div class="card-header">
          <aside class="left-restaurant">
            <img src="{{review.review.user.profile_image}}" alt="User picture" class="img-fluid">
          </aside>
          <aside class="rigth-restaurant">
            <p><b>{{review.review.user.name}}</b></p>
            <span>{{review.review.review_time_friendly}}</span>
          </aside>
        </div>
        <div class="card-block">
          <span>RATED: <span  class="user-rating" style="background-color: #{{review.review.rating_color}};">{{review.review.rating}}</span></span>
          <p class="card-text">{{review.review.review_text}}<p/>
        </div>
      </div>


      <!-- <div class="col-md-12">


        <div class="card review">
          <div class="">
            <aside class="left-restaurant">
              <img src="{{review.review.user.profile_image}}" alt="User picture" class="img-fluid">
            </aside>
            <aside class="rigth-restaurant">
              <p><b>{{review.review.user.name}}</b></p>
              <span><b>{{review.review.review_time_friendly}}</b></span>
            </aside>
          </div>
          <div class="">
            <span>RATED: <span  class="user-rating" style="background-color: #{{review.review.rating_color}};">{{review.review.rating}}</span></span>
            <p class="card-text">{{review.review.review_text}}<p/>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>
